annotated-types
any
click
colorama
faiss-cpu
fastapi
h11
idna
joblib
numpy
packaging
pandas
pydantic
pydantic_core
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
gunicorn
